/* style by turuu */


/*************
* styles for about us page
*
*************/
/* .about-us.head.page {

} */
.about-us.page-header .pagedetail .subtitle{  
  margin-top: 10px;
}
.aboutus-introduction-sec{
  padding-top:50px;
  padding-bottom: 50px;
  overflow-x:hidden;
}
.school-building{
  position: absolute;
  right: 0;
  border: 0;
  bottom: 0;
  width: 740px;
  height: auot;
  height: auto;
}
.aboutus-introduction-sec .row{
  margin-bottom:0;
}
.aboutus-introduction-sec ul.nav-pills>li{
  position: relative;
  padding:5px;
  margin-bottom:15px;
}
.aboutus-introduction-sec ul.nav-pills>li a{
  position: relative;
  padding:4px 25px;
  font-size: 20px;
  line-height: 1.5;
  transition: all 0.2s;
  font-weight: 500;
  color:#333;
}

.aboutus-introduction-sec ul.nav-pills>li a:not(.active):hover{

  color:#2398d9;
}
.aboutus-introduction-sec ul.nav-pills>li a.active{
  background: #2398d9;
  background: transparent;
  color: #2398d9;
  border-right: 4px solid #2398d9;

}
.aboutus-introduction-sec ul.nav-pills>li a.active:after{
  /* content: ""; */
  display: block;
  background: white;
  width: 30px;
  height: 100%;
  position: absolute;
  transform: skewX(-20deg);
  right: -20px;
  top: 0;
}

.aboutus-introduction-sec ul.nav-pills>li a.active:before{
  /* content: ""; */
  display: block;
  background: white;
  width: 30px;
  height: 100%;
  position: absolute;
  transform: skewX(-20deg);
  left: -20px;
  top: 0;
}

.aboutus-introduction-sec .tab-content .tab-pane p{
  color:#666;
  line-height:1.5rem;
}
.aboutus-introduction-sec p.main-purpose{
  font-size: 20px;
  line-height: 1.5;
  opacity: .95;
}

.img-wrapper.cirle{
  position: absolute;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  overflow: hidden;
  right: -40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img-wrapper.cirle img{

  width:100%;
}
.wrapper-circle{
  position: absolute;
  border-radius: 50%;
  width:300px;
  height: 300px;
  background: #015aaa59;
  background: #dd6a99;
  left: -50px;
  bottom: 0;
  opacity: 0.3;
}
.wrapper-circle.gr{
  width:500px;
  height: 500px;
  background: #015aaa59;
opacity: 0.1;
}
section{
  position: relative;
}
blockquote{
  border-left: none;
  position: relative;
  padding: 15px 30px;
  font-size: 16px;
  font-style: italic;
}
blockquote:before{
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0;
  top: 0;
  background-image: url(../assets/media/blockquote-left.png);
}
blockquote:after{
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  right: 0;
  bottom: 0;
  background-image: url(../assets/media/blockquote-right.png);
}
#anthem img{
  width:100% !important;
  height: auto !important;
  max-width: 300px;

}


.s-feature{
  background:white;
  box-shadow: 0 0 20px 2px rgba(75, 75, 75, 0.05);
  padding: 30px 40px;
  border-radius: 8px;
  height: 100%;
}
.sec-title{
    margin-bottom:50px;
}
.sec-title h5{
  text-transform: uppercase;
    color: #659f27;
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 16px;
}
.sec-title h3{
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
}
.s-feature span.index{
  width:50px;
  height:50px;
  position: absolute;
  top:0;
  left:50%;
  color:white;
  transform:translate(-50%, -50%);
  background: #d71490;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 1px #00000014;
}
.s-feature.col-blue span.index{
    background: #0072ff;
}
.s-feature.col-red span.index{
    background: #ff4657;
}
.s-feature.col-orange span.index{
    background: #f58020;
}
.s-feature.col-green span.index{
    background: #78b934;
}
.s-feature.col-lb span.index{
    background: #2398d9;
}
.row.features [class*="col-sm"]{
    margin-bottom:55px;
}
.f-title{
  margin-top: 20px;
  font-size:14px;
  line-height: 1.4;
  margin-bottom:15px;
}
p.f-desc{
  line-height: 1.5;
  color:#999;
}
section.about{
  padding:80px 0;
}
.sakura-history .f-title {
  font-weight: normal;
}
