.elselt-menu{
  background: #015aaa;
  padding: 0px 30px;
  /* color: #fff !important; */
  margin-right: 0px !important;
}
.elselt-menu a{
  color: #fff !important;
}
.header-slider-container{
  position: relative;
}
.slider-header{
  position: absolute;
  top:0;
  width: calc(100% - 30px);
}
a:hover{
  text-decoration: none;
}
.head.page.home-header{
  height: 750px;
  background-position: center !important  ;
}
.head.page.home-header:before{
  background-color: rgba(0,0,0,0.3);

}
.home-header .maintitle{
  font-size: 48px !important;
  text-transform: normal !important;
}
/* .head.page.home-header:after{
  content:"";
  width: 100%;
  position: absolute;
  height: 100%;
  top:0;
  opacity: 0.4;
  left: 0;
  background:url('http://sakuraschool.edu.mn/assets/media/header-overlay.png');
} */
.head.page.home-header .pagedetail{
  padding-top:300px;
}

.home-header .subtitle{
  margin-top: 20px;
  line-height: 1.3;
  font-size: 18px;
}
.header-links{
  margin-top:55px;
}
.header-links a{
  border:1px solid #fff;
  border-radius: 50px;
  padding: 11px 15px;
  padding-top: 9px;
  color: #fff;
  position: relative;
  padding-left: 40px;
}
.header-links a.fill-bg{
  padding-left: 15px;
  padding-right: 40px;
  background: #015aaa;
  transition: ease all 0.3s;
  border: 1px solid #015aaa;
}
.header-links a.fill-bg:hover{
  /* background: transparent;
  color:#fff;
  border:1px solid #fff; */
  background: #024582;
  border: 1px solid #024582;
}
.header-links a.trans-bg{
  margin-left: 15px;
  opacity: 1;
  transition: ease all 0.3s;
}
.header-links a.trans-bg:hover{
  opacity: 1;
  /* background:#015aaa;
  color:#fff;
  border:1px solid #015aaa; */
}
.header-links a.fill-bg i{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 16px;
}
.header-links a.trans-bg i{
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 28px;
}
.student-bulan{
  position: relative;
  height: 120px;
}
/* .bulan{
  padding:25px 0px;
  height: 155px;
  position: absolute;
  top:-50px;
  width: 100%;
  background: #fff;
} */
.single-bulan{
  margin-top:-50px;
  background: #fff;
  padding: 25px 50px;
  position: relative;
  height: 170px;
}
.single-bulan a{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
}
.about-school.single-bulan{
  border-top-left-radius: 4px;
  box-shadow: -6px 0px 13px rgba(0,0,0,0.16);
}
.about-school:after,
.inter-prog:after{
  content:"";
  height: 105px;
  top:25px;
  right: 0;
  position: absolute;
  width: 1px;
  background: #c4c4c4;
}
.st-bulan{
  background: #015aaa;
  border-top-right-radius: 4px;
}
.bulan-title{
  margin-top:10px;
  display: flex;
}
.bulan-title img{
  width: 40px;
  height: 40px;
  text-transform: uppercase;
  margin-right: 20px;
}
.bulan-title h4{
  font-size: 18px;
  text-transform: uppercase;
}
.st-bulan .bulan-title{
  color: #fff;
}

.bulan-desc{
  color:rgba(0,0,0,0.7);
  line-height: 1.3;
    margin-top: 5px;
}
.st-bulan .bulan-desc{
  color:rgba(255,255,255,0.8);
}
.link-arrow{
  position: absolute;
  opacity: 0.5;
  right: 20px;
  top:20px;
  transition: ease all 0.3s;
}
.link-arrow:hover{
  opacity: 1;
}
.home-enroll{
  height: auto;
}
.enroll-left{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size:cover;
}
.enroll-left:before{
  content:"";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0));
}
.enroll-right{
  padding: 50px;
  color: #fff;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size:cover;
  position: relative;
}
.enroll-right:before{
  content:"";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #192f59;
  opacity: 0.8;
}
.enroll-right h3{
  position: relative;
  z-index: 2;
  font-size: 20px;
  text-transform: uppercase;
}
.enroll-right p{
  font-weight: 300;
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.8;
  z-index: 2;
  line-height: 1.5;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  font-weight: 400;
  -webkit-box-orient: vertical;
}
.enroll-right .enroll-btn{
  padding: 15px 40px;
  background: #7cbb3a;
  color: #fff;
  z-index: 2;
  position: relative;
  float: right;
  transition: ease all 0.3s;
  border-radius: 50px;
  margin-top:20px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.enroll-right .enroll-btn:hover{
  background: #61a916;

}
.home-welcome{
  height: 625px;
  margin-top:100px;
}
.welcome-text{
  padding-right: 20px;
  padding-top:100px;
}
.welcome-text h5{
  text-transform: uppercase;
  color:#cf2067;
  font-size: 16px;
  font-weight: 600;
}
.welcome-text h2{
  text-transform: uppercase;
}
.welcome-text p{
  margin-top:20px;
  margin-bottom: 35px;
  color:#6e6e6e;
}
.welcome-btn{
  padding: 10px 40px;
  margin-top:30px;
  text-transform: uppercase;
  color:#cf2067;
  border:1px solid #cf2067;
  transition: ease all 0.3s;
  border-radius: 50px;
}
.welcome-btn:hover{
  background: #cf2067;
  color: #fff;
}
.welcome-btn:hover{
  text-decoration: none;
}
.welcome-img{
  display: flex;
  flex-grow: row;
  float: right;
}
.wel-img-full{
  padding: 50px 0px;
  height: 100%;
  overflow: hidden;
  margin-right: 30px;
}
.wel-img-half{
  position: relative;
  display: flex;
  flex-direction: column;
}
.wel-img2{
  margin-bottom: 70px;
}
.home-news{
  margin-bottom: 100px;
  margin-top:100px;
}
.home-news-title{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.single-news{
  position: relative;
}
.news-thumb{
  height: 150px;
  width: 100%;
  position: relative;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.news-thumb:hover:before{
  content:"";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.3);
}
.single-news-content{
  padding: 25px 20px;
  min-height: auto;
  background: #f7f8fa;
}
.single-zarlal-content{
  background: rgba(207, 32, 103, 0.05);
}
.news-category{
  display: flex;
  position: absolute;
  top:0;
  flex-direction: row;
}
.news-cat{
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
  background: #ff4657;
  font-weight: 500;
  top:0;
  left: 0;
  padding: 5px 8px;
}
/* .news-cat:before{
  content: "";
  background: #ff4657;
  width: 3px;
  height: 14px;
  top:3px;
  left: 0;
  position: absolute;
} */
.surgalt{
  background: #29b109;
}
/* .surgalt:before{
  background: #29b109;
} */
.scholarship{
  background: #d71490;
}
.scholarship:before{
  background: #d71490;
}
.news-date{
  position: absolute;
  top:5px;
  right: 5px;
  display: none;
  font-size: 13px;
  font-weight: 500;
  color:#fff;
  text-shadow: 1px 1px 5px #000;
}
.news-title a{
  color: #000;
}
.news-title h5{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  font-weight: 500;
  margin-bottom: 0;
  -webkit-box-orient: vertical;
}
.news-desc{
  margin-top:12px;
  color:rgba(0,0,0,0.6);
}
.news-desc p{
  line-height: 1.3;
  color:rgba(0,0,0,0.6);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  margin-bottom: 0;
  font-weight: 500;
  -webkit-box-orient: vertical;
}
.news-perma{
  text-align: right;
  margin-top:23px;
}
.news-perma a{
  font-weight: 500;
  color: #000;
  transition: ease all 0.3s;
  opacity: 0.8;
}
.news-perma a:hover{
  font-weight: 600;
  opacity: 1;
}
.home-zarlal{
   padding-left: 10px;
}
.zarlal-top{
  display: flex;
  margin-bottom:7px;
}
.zarlal-top h5{
  width: 50%;
}
.all-news{
  width: 50%;
  text-align: right;
}
.zarlal-top a{
  padding:5px 15px;
  font-size: 12px;
  border-radius: 50px;
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
  transition: ease all 0.3s;
  border:1px solid #bfbfbf;
  text-align: right;
}
.zarlal-top a:hover{
  background: #bfbfbf;
  color: #fff;
}
.single-zarlal{
  /* border-top:4px solid #939393; */
}
.zarlal{
  background:#0072ff;
  color:#fff;
}
.zarlal:before{
  background: #0072ff;
}
.graduate-title h5{
  text-transform: uppercase;
  color: #659f27;
  font-weight: 600;
  margin-bottom: 0px;
  font-size: 16px;
}
.graduate-title h3{
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
}
.slider-for{
	width: 350px;
	height: 290px;
  padding: 0px 50px;
	margin-top:35px;
	overflow: hidden;
}
.slider-for img{
	width: 250px;
}
.slider-for p{
  font-size: 20px;
  color:#000;
  margin-top:10px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.slider-nav img{
	width: 100%;
	min-height: 100%;
}
.slider-nav{
	width: 100%;
	margin: auto;
}
.slider-nav .item{
  height: fit-content;
  background: #f7f8fa;
  position: relative;
  padding:50px 35px;
  padding-bottom: 35px;
}
.slider-nav .item img{
  position: absolute;
  right: 15px;
  top:15px;
  height: 100px;
  width: 125px;
  min-height: 100px;
}
.slider-nav .item .info-title{
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 18px !important;
  font-weight: 600;
}
.slider-nav .item .info-desc p{
  margin-bottom: 0;
  text-align: justify;
}
.slider-nav .slick-track{
	height: 85px;
}
.slick-arrow{
		position: absolute;
    top: 50%;
    z-index: 50;
    margin-top: -20px;
}
.slick-prev{
	left: 0;
}
.slick-next{
	right: 0;
}
.home-graduation{
  margin-top:80px;
}
.home-graduation .slick-arrow{
  background: #015aaa !important;
  padding: 20px;
}
.home-graduation .slick-prev{
  font-family: 'Font Awesome 5 Free' !important;
  left: 0px;
}
.home-graduation .slick-next{
  font-family: 'Font Awesome 5 Free' !important;
  right: 0px;
}
.slick-prev:before{
  content:"" !important;
}
.slick-prev:after{
  content: "";
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  width: 10px;
  transform: rotate(-45deg);
  height: 10px;
  top: 15px;
  left: 17px;
  z-index: 3;
  position: absolute;
}
.slick-next:before{
  content:"" !important;
}
.slick-next:after{
  content: "";
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  width: 10px;
  transform: rotate(135deg);
  height: 10px;
  top: 15px;
  left: 13px;
  z-index: 3;
  position: absolute;
}
.grad-small{
  margin-top:15px;
  display: flex;
}
.grad-small img{
  width: 70px;
  margin-right: 10px;
  filter: grayscale(100);
  cursor: pointer;
}
.grad-small img:hover{
  filter: grayscale(0);
}
.head .mainhead .navbar .navbar-nav .elselt-menu:after{
  background: #fff;
}
.f-social a{
  padding-top:4px !important;
}
.footer{
  height: 290px;
}
